In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# Load the data for the years 2019-2022 into a pandas DataFrame

# Extract the wind speed data for the months January-March for the years 2019-2022
wind_speeds = data.loc[(data['Year'] >= 2019) & (data['Month'] <= 3), ['Year', 'Month', 'Wind Speed']]

# Split the data into training and testing sets
train_data = wind_speeds.loc[wind_speeds['Year'] < 2022]
test_data = wind_speeds.loc[wind_speeds['Year'] == 2022]

# Prepare the data for the regression model
train_X = train_data[['Temperature', 'Pressure', 'Humidity']].values
train_Y = train_data['Wind Speed'].values
test_X = test_data[['Temperature', 'Pressure', 'Humidity']].values

# Train a linear regression model on the training set
model = LinearRegression()
model.fit(train_X, train_Y)

# Use the trained model to predict the wind speeds for the missing months in 2018
predict_X = data.loc[(data['Year'] == 2018) & (data['Month'] <= 3), ['Temperature', 'Pressure', 'Humidity']].values
predicted_Y = model.predict(predict_X)

# Print the predicted wind speeds for the missing months in 2018
print("Predicted wind speeds for Jan-Mar 2018:")
print(predicted_Y)

In [ ]:
import glob

In [ ]:
import pandas as pd

In [ ]:
a=pd.read_csv("Karimanagar2018.csv")
b=pd.read_csv("Karimnagar2019.csv")
c=pd.read_csv("Karimnagar2020.csv")

In [78]:
a

,Date,Rainfall (mm),temp_min (⁰C),temp_max (⁰C),humidity_min (%),Humidity_max (%),wind_speed_min (Kmph),wind_speed_max (Kmph)
0,2018,0.0,14.716,31.884,29.284,84.636,0.000,5.496
1,2018,0.0,14.464,31.880,33.456,86.256,0.000,5.860
2,2018,0.0,14.268,31.088,33.856,86.544,0.000,4.944
3,2018,0.0,13.484,30.908,31.536,85.548,0.000,6.224
4,2018,0.0,13.012,29.748,29.340,84.240,0.000,5.784
...,...,...,...,...,...,...,...,...
85,2018,0.0,20.640,37.880,28.164,80.780,0.000,7.548
86,2018,0.0,21.924,38.120,23.208,73.912,0.000,7.980
87,2018,0.0,23.184,38.964,26.664,87.320,0.060,10.092
88,2018,0.0,24.128,38.728,23.532,89.252,0.204,7.780
89,2018,0.0,23.972,38.036,34.028,90.408,0.000,9.332

In [79]:
b

,Date,Rainfall (mm),temp_min (⁰C),temp_max (⁰C),humidity_min (%),Humidity_max (%),wind_speed_min (Kmph),wind_speed_max (Kmph)
0,2019,0.0,11.196296,28.340741,23.688889,85.877778,0.125926,5.770370
1,2019,0.0,11.670370,30.177778,23.288889,90.755556,0.022222,5.562963
2,2019,0.0,13.922222,31.696296,24.603704,90.174074,0.000000,4.392593
3,2019,0.0,13.188889,31.611111,28.974074,93.788889,0.000000,4.762963
4,2019,0.0,15.177778,31.800000,30.448148,95.922222,0.000000,6.359259
...,...,...,...,...,...,...,...,...
85,2019,0.0,22.840741,37.707407,34.203704,76.237037,0.144444,8.574074
86,2019,0.0,23.374074,37.829630,32.985185,74.762963,0.155556,8.514815
87,2019,0.0,23.244444,37.929630,30.659259,75.381481,0.000000,6.418519
88,2019,0.0,22.848148,38.766667,24.462963,79.459259,0.000000,7.429630
89,2019,0.0,24.125926,38.807407,30.333333,81.707407,0.140741,9.074074

In [85]:
c.columns=a.columns

In [103]:
train

,Rainfall (mm),temp_min (⁰C),temp_max (⁰C),humidity_min (%),Humidity_max (%),wind_speed_min (Kmph),wind_speed_max (Kmph)
0,0.00000,14.71600,31.88400,29.28400,84.63600,0.00000,5.496
1,0.00000,14.46400,31.88000,33.45600,86.25600,0.00000,5.860
2,0.00000,14.26800,31.08800,33.85600,86.54400,0.00000,4.944
3,0.00000,13.48400,30.90800,31.53600,85.54800,0.00000,6.224
4,0.00000,13.01200,29.74800,29.34000,84.24000,0.00000,5.784
...,...,...,...,...,...,...,...
86,0.00000,23.39375,36.21250,36.91250,76.57500,7.74375,0.000
87,0.00000,22.06875,37.02500,30.73125,72.92500,10.65000,0.000
88,0.00000,22.44375,37.23750,29.34375,82.22500,7.11250,0.000
89,0.00000,22.15000,37.40000,35.40000,75.70000,10.35000,0.000
90,0.03125,23.63750,35.54375,41.25625,79.16875,8.07500,0.000

In [ ]:
def func(x):
    if(x[3:5]=='01' or x[3:5]=='02' or x[3:5]=='03'):
        return True
    else:
        return False
for df in [a,b,c]:
    df['Date']=df['Date'].apply(func)

In [ ]:
a=a[a['Date']]
b=b[b['Date']]
c=c[c['Date']]

In [ ]:
a['Date']=2018
b['Date']=2019
c['Date']=2020

In [86]:
train=pd.concat([a,b,c],axis=0)

In [87]:
train.drop('Date',axis=1,inplace=True)

In [88]:
train.columns

Index(['Rainfall (mm)', 'temp_min (⁰C)', 'temp_max (⁰C)', 'humidity_min (%)',
       'Humidity_max (%)', 'wind_speed_min (Kmph)', 'wind_speed_max (Kmph)'],
      dtype='object')

In [113]:
train_X=train[['Rainfall (mm)', 'temp_min (⁰C)', 'temp_max (⁰C)', 'humidity_min (%)',
       'Humidity_max (%)']]

In [114]:
train_Y=train[['wind_speed_min (Kmph)', 'wind_speed_max (Kmph)']]

In [115]:
from sklearn.linear_model import LinearRegression

In [116]:
train_X

,Rainfall (mm),temp_min (⁰C),temp_max (⁰C),humidity_min (%),Humidity_max (%)
0,0.00000,14.71600,31.88400,29.28400,84.63600
1,0.00000,14.46400,31.88000,33.45600,86.25600
2,0.00000,14.26800,31.08800,33.85600,86.54400
3,0.00000,13.48400,30.90800,31.53600,85.54800
4,0.00000,13.01200,29.74800,29.34000,84.24000
...,...,...,...,...,...
86,0.00000,23.39375,36.21250,36.91250,76.57500
87,0.00000,22.06875,37.02500,30.73125,72.92500
88,0.00000,22.44375,37.23750,29.34375,82.22500
89,0.00000,22.15000,37.40000,35.40000,75.70000
90,0.03125,23.63750,35.54375,41.25625,79.16875

In [117]:
model=LinearRegression()
model.fit(train_X,train_Y)

LinearRegression()

In [118]:
predict=pd.read_csv("Karimnagar2021.csv")

In [119]:
predict['Date']=predict['Date'].apply(func)

In [120]:
predict=predict[predict['Date']]

In [121]:
predict.drop(['Date','wind_speed_min (Kmph)','wind_speed_max (Kmph)'],axis=1,inplace=True)

In [130]:
predict_Y=model.predict(predict)

In [134]:
res=pd.DataFrame(predict_Y)

In [136]:
res.columns=['wind_speed_min (Kmph)','wind_speed_max (Kmph)']

In [143]:
for i in range(len(res)):
    min_s=res.iloc[i]['wind_speed_min (Kmph)']
    max_s=res.iloc[i]['wind_speed_max (Kmph)']
    res.iloc[i]['wind_speed_min (Kmph)']=min(min_s,max_s)
    res.iloc[i]['wind_speed_max (Kmph)']=max(max_s,min_s)